<%- include("partials/header") %>


	<!-- WALLPAPER -->
	
	
	
	<header id="homeHead" ><img src="images/hoatdongkiniem.jpg" size="100%"></header>


	<div class="container-fluid mt-5">
		
		<section class="pageContent">
			
			<h1 class="bigHeading"><%= album.title %></h1>

				<div class="text-right my-3 mr-5">
					<a class="btn backBtn" href="/hoat-dong-ki-niem">VỀ THƯ VIỆN HÌNH ẢNH</a>
				</div>

		</section>

	<hr class="mid-hori">

	<% if(currentUser){ %>
	<section class="pageContent">

		<div class="text-right my-5 mr-5">
			<a class="btn backBtn btn-success" href="/hoat-dong-ki-niem/<%= album._id %>/edit"><i class="fas fa-edit mr-2"></i>SỬA ALBUM</a>
			<form action="/hoat-dong-ki-niem/<%= album._id %>?_method=DELETE" method="POST" style="display: inline-block;">
				<button class="btn deleteBtn btn-danger" style="width: 120%;"><i class="fas fa-trash-alt mr-2"></i>XÓA ALBUM</button>
			</form>
		</div>

		<h4>Đăng/Cập nhật hình ảnh cho album <%= album.title %></h4>

		 <div class="container" style="margin: 0 auto; text-align: center;" id="imageUpload">
	      

	          <form class="mt-4"
	           action="/hoat-dong-ki-niem/<%= album._id %>"
	            method="POST"
	            enctype="multipart/form-data"
	          >
	            <div class="form-group">
	                <input 
	                	type="file" 
	                	name="image" 
	                	multiple 
	                	id= "input-multi-files"
	                	class="form-control-file border"
	                />
	            </div>

	            <button type="submit" class="btn btn-primary my-4" id="imageSubmit" >Submit</button>

	          </form>

	       

	    </div>


	</section>

	<hr class="mid-hori">

	<% } %>

	<section class="pageContent">


		<div class="row" class="gallery" id="imageGallery">
		<% if(image) { %>
			<% image.forEach(function(image) { %>

				<div class="col-md-6 col-lg-4 mb-3 d-flex align-items-center">
					<% if(currentUser){ %>
						<button type="button" class="btn btn-success editBtnImage" data-toggle="modal" data-target="#exampleModalCenter"><i class="fas fa-pen"></i></button>
						<form action="/hoat-dong-ki-niem/<%= album._id %>/<%= image._id %>?_method=DELETE" method="POST" class="deleteBtnImage">
							<button class="btn btn-danger deleteImgEl"><i class="fas fa-times"></i></i></button>
						</form>
						
					<% } %>
						
				<div>
					<img src="<%= image.imageURL %>" class="img-fluid " >
					<% if(image.text){ %>
					<p class="card-text textImg"><%= image.text %></p>
					<% } %>
				</div>

				</div>
			
			<!-- Modal -->
			<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
				<div class="modal-dialog modal-dialog-centered" role="document">
				<div class="modal-content">
					<div class="modal-header">
					<h5 class="modal-title" id="exampleModalCenterTitle">Add caption </h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
					</div>
					<div class="modal-body">
						<form action="/hoat-dong-ki-niem/<%= album._id %>/<%= image._id %>?_method=PUT" method="POST"> 
							<textarea class="insertText" name="image[text]" placeholder="Caption..."></textarea>
							<button type="submit" class="insertTextBtn btn btn-primary">Submit</button>
						</form>
					</div>
				</div>
				</div>
			</div>

			<% }); %>
		<% } %>
			

		</div>

	

	</section>
	

	<!-- xong r nek nha -->


	</div>

<%- include("partials/footer") %>
