<%- include("partials/header") %>


	<!-- WALLPAPER -->
	
	
	<header id="homeHead" ><img src="images/stock1.jpg" size="100%"></header>


	<div class="container-fluid mt-5">

	<!-- đăng bài mới -->

	<% if(currentUser){ %>

	<section >

		<!-- Button trigger modal -->
		<div style="width: 90%; font-weight: bold; margin: 0 auto;" class="text-right">
		<button style="font-size: 2rem;" type="button" class="btn backBtn " data-toggle="modal" data-target="#exampleModalCenter">
			<i class="fas fa-edit mr-2"></i>Thêm bài mới
		</button>
		</div>
		
		<!-- Modal -->
		<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
			<div class="modal-dialog modal-dialog-centered" role="document">
			<div class="modal-content">

				<div class="modal-header">
				<h5 class="modal-title" id="exampleModalLongTitle">Đăng bài mới</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
				</div>
				<div class="modal-body">
				
					<form action="/online-resource/yt" method="POST">

						<div class="form-group">
						<select class="form-control" name="onlineResource[typeMedia]">
							<option value="youtube" selected="selected">Youtube Channel</option>
							<option value="web">Website / Link</option>
						</select>
						</div>

						<div class="form-group">
							<input class="form-control" type="text" name="onlineResource[pageName]" placeholder="Tên của Channel/Website">
						</div>
	
						<div class="form-group">
							<input class="form-control" type="text" name="onlineResource[link]" placeholder="Link của Channel/Website">
						</div>

						<div class="form-group">
							<input class="form-control" type="text" name="onlineResource[imageSrc]" placeholder="Link hình ảnh hiển thị/thumbnail của Channel/Website">
						</div>

						<div class="form-group">
							<select class="form-control" name="onlineResource[levelCambridge]">
								<option value="Pre-Starters">Pre-Starters</option>
								<option value="Starters - Movers">Starters - Movers</option>
								<option value="Flyers - KET - PET">Flyers - KET - PET</option>
								<option value="FCE">FCE</option>
								<option value="IELTS">IELTS</option>
							</select>
							</div>

						<div class="form-group">
							<div class="form-check form-check-inline">
								<input class="form-check-input" type="radio" name="onlineResource[difficultyRating]" id="inlineRadio1" value="1" checked>
								<label class="form-check-label" for="inlineRadio1">1 - Easy</label>
							  </div>
							  <div class="form-check form-check-inline">
								<input class="form-check-input" type="radio" name="onlineResource[difficultyRating]" id="inlineRadio2" value="2">
								<label class="form-check-label" for="inlineRadio2">2 - Medium</label>
							  </div>
							  <div class="form-check form-check-inline">
								<input class="form-check-input" type="radio" name="onlineResource[difficultyRating]" id="inlineRadio3" value="3">
								<label class="form-check-label" for="inlineRadio3">3 - Hard</label>
							  </div>
						</div>
	
						<div class="form-group">
							<textarea style="white-space: pre-wrap;" class="form-control textArea" name="onlineResource[text]" placeholder="Giới thiệu vài dòng về channel/web này"></textarea>
						</div>
	
						<div class="form-group"  >
							<button type="submit" class="btn btn-lg backBtn btn-block">ĐĂNG BÀI<i class="ml-1 fas fa-arrow-circle-up"></i></button>
						</div>


	
					</form>

				</div>

			</div>
			</div>
		</div>

	</section>
	<% } %>


	<section style="margin: 8% auto; width: 90%;">

		<div class="row">
			
			<div id="menu-online" class="col-md-3" >

				<a href="/online-resource/yt">
					<p class="items-level">ALL LEVELS
					<svg class="svgGreenArrow" xmlns="http://www.w3.org/2000/svg" width="28" height="28" viewBox="0 0 28 28">
						<g id="Group_36" data-name="Group 36" transform="translate(0 0.467)">
						  <circle id="Ellipse_11" data-name="Ellipse 11" cx="14" cy="14" r="14" transform="translate(0 -0.467)" fill="#8ddf5e"/>
						  <path id="Union_1" data-name="Union 1" d="M1,9.178a1,1,0,0,1-1-1V7.118a1,1,0,0,1,1-1H6.118V1a1,1,0,0,1,1-1H8.177a1,1,0,0,1,1,1V8.177a1,1,0,0,1-1,1Z" transform="translate(5.747 13.767) rotate(-45)" fill="#fff"/>
						</g>
					  </svg>

					  <svg class="svgWhiteArrow" xmlns="http://www.w3.org/2000/svg" width="28" height="28" viewBox="0 0 28 28">
						<g id="Group_36" data-name="Group 36" transform="translate(0 0.467)">
						  <circle id="Ellipse_11" data-name="Ellipse 11" cx="14" cy="14" r="14" transform="translate(0 -0.467)" fill="#fff"/>
						  <path id="Union_1" data-name="Union 1" d="M1,9.178a1,1,0,0,1-1-1V7.118a1,1,0,0,1,1-1H6.118V1a1,1,0,0,1,1-1H8.177a1,1,0,0,1,1,1V8.177a1,1,0,0,1-1,1Z" transform="translate(5.747 13.767) rotate(-45)" fill="#8ddf5e"/>
						</g>
					  </svg>
					  
					</p>
					  
				</a>
				
				<a href="/online-resource/yt/Pre-Starters">
					<p class="items-level">Pre-Starters
					<svg class="svgGreenArrow" xmlns="http://www.w3.org/2000/svg" width="28" height="28" viewBox="0 0 28 28">
						<g id="Group_36" data-name="Group 36" transform="translate(0 0.467)">
						  <circle id="Ellipse_11" data-name="Ellipse 11" cx="14" cy="14" r="14" transform="translate(0 -0.467)" fill="#8ddf5e"/>
						  <path id="Union_1" data-name="Union 1" d="M1,9.178a1,1,0,0,1-1-1V7.118a1,1,0,0,1,1-1H6.118V1a1,1,0,0,1,1-1H8.177a1,1,0,0,1,1,1V8.177a1,1,0,0,1-1,1Z" transform="translate(5.747 13.767) rotate(-45)" fill="#fff"/>
						</g>
					  </svg>

					  <svg class="svgWhiteArrow" xmlns="http://www.w3.org/2000/svg" width="28" height="28" viewBox="0 0 28 28">
						<g id="Group_36" data-name="Group 36" transform="translate(0 0.467)">
						  <circle id="Ellipse_11" data-name="Ellipse 11" cx="14" cy="14" r="14" transform="translate(0 -0.467)" fill="#fff"/>
						  <path id="Union_1" data-name="Union 1" d="M1,9.178a1,1,0,0,1-1-1V7.118a1,1,0,0,1,1-1H6.118V1a1,1,0,0,1,1-1H8.177a1,1,0,0,1,1,1V8.177a1,1,0,0,1-1,1Z" transform="translate(5.747 13.767) rotate(-45)" fill="#8ddf5e"/>
						</g>
					  </svg>
					  
					</p>
					  
				</a>
				<a href="/online-resource/yt/Starters-Movers">
					<p class="items-level">Starters - Movers
					<svg class="svgGreenArrow" xmlns="http://www.w3.org/2000/svg" width="28" height="28" viewBox="0 0 28 28">
						<g id="Group_36" data-name="Group 36" transform="translate(0 0.467)">
						  <circle id="Ellipse_11" data-name="Ellipse 11" cx="14" cy="14" r="14" transform="translate(0 -0.467)" fill="#8ddf5e"/>
						  <path id="Union_1" data-name="Union 1" d="M1,9.178a1,1,0,0,1-1-1V7.118a1,1,0,0,1,1-1H6.118V1a1,1,0,0,1,1-1H8.177a1,1,0,0,1,1,1V8.177a1,1,0,0,1-1,1Z" transform="translate(5.747 13.767) rotate(-45)" fill="#fff"/>
						</g>
					  </svg>

					  <svg class="svgWhiteArrow" xmlns="http://www.w3.org/2000/svg" width="28" height="28" viewBox="0 0 28 28">
						<g id="Group_36" data-name="Group 36" transform="translate(0 0.467)">
						  <circle id="Ellipse_11" data-name="Ellipse 11" cx="14" cy="14" r="14" transform="translate(0 -0.467)" fill="#fff"/>
						  <path id="Union_1" data-name="Union 1" d="M1,9.178a1,1,0,0,1-1-1V7.118a1,1,0,0,1,1-1H6.118V1a1,1,0,0,1,1-1H8.177a1,1,0,0,1,1,1V8.177a1,1,0,0,1-1,1Z" transform="translate(5.747 13.767) rotate(-45)" fill="#8ddf5e"/>
						</g>
					  </svg>

					</p>
				</a>
				<a href="/online-resource/yt/Flyers-KET-PET">
					<p class="items-level">Flyers - KET - PET
					<svg class="svgGreenArrow" xmlns="http://www.w3.org/2000/svg" width="28" height="28" viewBox="0 0 28 28">
						<g id="Group_36" data-name="Group 36" transform="translate(0 0.467)">
						  <circle id="Ellipse_11" data-name="Ellipse 11" cx="14" cy="14" r="14" transform="translate(0 -0.467)" fill="#8ddf5e"/>
						  <path id="Union_1" data-name="Union 1" d="M1,9.178a1,1,0,0,1-1-1V7.118a1,1,0,0,1,1-1H6.118V1a1,1,0,0,1,1-1H8.177a1,1,0,0,1,1,1V8.177a1,1,0,0,1-1,1Z" transform="translate(5.747 13.767) rotate(-45)" fill="#fff"/>
						</g>
					  </svg>

					  <svg class="svgWhiteArrow" xmlns="http://www.w3.org/2000/svg" width="28" height="28" viewBox="0 0 28 28">
						<g id="Group_36" data-name="Group 36" transform="translate(0 0.467)">
						  <circle id="Ellipse_11" data-name="Ellipse 11" cx="14" cy="14" r="14" transform="translate(0 -0.467)" fill="#fff"/>
						  <path id="Union_1" data-name="Union 1" d="M1,9.178a1,1,0,0,1-1-1V7.118a1,1,0,0,1,1-1H6.118V1a1,1,0,0,1,1-1H8.177a1,1,0,0,1,1,1V8.177a1,1,0,0,1-1,1Z" transform="translate(5.747 13.767) rotate(-45)" fill="#8ddf5e"/>
						</g>
					  </svg>

					</p>
				</a>
				<a href="/online-resource/yt/FCE">
					<p class="items-level">FCE
					<svg class="svgGreenArrow" xmlns="http://www.w3.org/2000/svg" width="28" height="28" viewBox="0 0 28 28">
						<g id="Group_36" data-name="Group 36" transform="translate(0 0.467)">
						  <circle id="Ellipse_11" data-name="Ellipse 11" cx="14" cy="14" r="14" transform="translate(0 -0.467)" fill="#8ddf5e"/>
						  <path id="Union_1" data-name="Union 1" d="M1,9.178a1,1,0,0,1-1-1V7.118a1,1,0,0,1,1-1H6.118V1a1,1,0,0,1,1-1H8.177a1,1,0,0,1,1,1V8.177a1,1,0,0,1-1,1Z" transform="translate(5.747 13.767) rotate(-45)" fill="#fff"/>
						</g>
					  </svg>

					  <svg class="svgWhiteArrow" xmlns="http://www.w3.org/2000/svg" width="28" height="28" viewBox="0 0 28 28">
						<g id="Group_36" data-name="Group 36" transform="translate(0 0.467)">
						  <circle id="Ellipse_11" data-name="Ellipse 11" cx="14" cy="14" r="14" transform="translate(0 -0.467)" fill="#fff"/>
						  <path id="Union_1" data-name="Union 1" d="M1,9.178a1,1,0,0,1-1-1V7.118a1,1,0,0,1,1-1H6.118V1a1,1,0,0,1,1-1H8.177a1,1,0,0,1,1,1V8.177a1,1,0,0,1-1,1Z" transform="translate(5.747 13.767) rotate(-45)" fill="#8ddf5e"/>
						</g>
					  </svg>

					</p>
				</a>
				<a href="/online-resource/yt/IELTS">
					<p class="items-level">IELTS
					<svg class="svgGreenArrow" xmlns="http://www.w3.org/2000/svg" width="28" height="28" viewBox="0 0 28 28">
						<g id="Group_36" data-name="Group 36" transform="translate(0 0.467)">
						  <circle id="Ellipse_11" data-name="Ellipse 11" cx="14" cy="14" r="14" transform="translate(0 -0.467)" fill="#8ddf5e"/>
						  <path id="Union_1" data-name="Union 1" d="M1,9.178a1,1,0,0,1-1-1V7.118a1,1,0,0,1,1-1H6.118V1a1,1,0,0,1,1-1H8.177a1,1,0,0,1,1,1V8.177a1,1,0,0,1-1,1Z" transform="translate(5.747 13.767) rotate(-45)" fill="#fff"/>
						</g>
					  </svg>

					  <svg class="svgWhiteArrow" xmlns="http://www.w3.org/2000/svg" width="28" height="28" viewBox="0 0 28 28">
						<g id="Group_36" data-name="Group 36" transform="translate(0 0.467)">
						  <circle id="Ellipse_11" data-name="Ellipse 11" cx="14" cy="14" r="14" transform="translate(0 -0.467)" fill="#fff"/>
						  <path id="Union_1" data-name="Union 1" d="M1,9.178a1,1,0,0,1-1-1V7.118a1,1,0,0,1,1-1H6.118V1a1,1,0,0,1,1-1H8.177a1,1,0,0,1,1,1V8.177a1,1,0,0,1-1,1Z" transform="translate(5.747 13.767) rotate(-45)" fill="#8ddf5e"/>
						</g>
					  </svg>

					</p>
				</a>




			</div>

			<div class="col-md-9" style="padding: 0 2%;">
                
				<% if (level) { %>
               	 <h3 class="resourceTitle"><%= level%></h3>
				<% } %>

                <div class="my-4"  oncontextmenu='return false' class='snippet-body'>
                <div class="row">

					<% onlineResources.forEach(function(onlineResource) { %>
                    <div class="col-6">
                    <div class="product mb-4">
						<a href="<%= onlineResource.link %>" target="_blank">
                        <div class="imgbox"> <img class="img-fluid" src="<%= onlineResource.imageSrc %>"> </div>
                          
                        <div class="specifies">
                            <h5 class="card-title"><%= onlineResource.pageName %>

								<% if (onlineResource.difficultyRating == '1' ) { %>

                                <svg class="starRating1" xmlns="http://www.w3.org/2000/svg" width="62.526" height="16.2" viewBox="0 0 62.526 16.2">
                                    <g id="Group_36" data-name="Group 36" transform="translate(-277.474 -466)">
                                      <path id="Path_159" data-name="Path 159" d="M8.526,0l2.664,5.329,5.862.853-4.263,4.157.959,5.862L8.526,13.429,3.3,16.2l.959-5.862L0,6.182l5.862-.853Z" transform="translate(277.474 466)" fill="#2699fb"/>
                                      <path id="Path_160" data-name="Path 160" d="M8.526,0l2.664,5.329,5.862.853-4.263,4.157.959,5.862L8.526,13.429,3.3,16.2l.959-5.862L0,6.182l5.862-.853Z" transform="translate(300.211 466)" fill="#7f7f7f" opacity="0.5"/>
                                      <path id="Path_161" data-name="Path 161" d="M8.526,0l2.664,5.329,5.862.853-4.263,4.157.959,5.862L8.526,13.429,3.3,16.2l.959-5.862L0,6.182l5.862-.853Z" transform="translate(322.947 466)" fill="#7f7f7f" opacity="0.5"/>
                                    </g>
                                  </svg>

								  <% } else if (onlineResource.difficultyRating == '2' ) { %>
                                
                                  <svg class="starRating2" xmlns="http://www.w3.org/2000/svg" width="62.526" height="16.2" viewBox="0 0 62.526 16.2">
                                    <g id="Group_36" data-name="Group 36" transform="translate(-277.474 -466)">
                                      <path id="Path_159" data-name="Path 159" d="M8.526,0l2.664,5.329,5.862.853-4.263,4.157.959,5.862L8.526,13.429,3.3,16.2l.959-5.862L0,6.182l5.862-.853Z" transform="translate(277.474 466)" fill="#2699fb"/>
                                      <path id="Path_160" data-name="Path 160" d="M8.526,0l2.664,5.329,5.862.853-4.263,4.157.959,5.862L8.526,13.429,3.3,16.2l.959-5.862L0,6.182l5.862-.853Z" transform="translate(300.211 466)" fill="#2699fb"/>
                                      <path id="Path_161" data-name="Path 161" d="M8.526,0l2.664,5.329,5.862.853-4.263,4.157.959,5.862L8.526,13.429,3.3,16.2l.959-5.862L0,6.182l5.862-.853Z" transform="translate(322.947 466)" fill="#7f7f7f" opacity="0.5"/>
                                    </g>
                                  </svg>

								  <% } else if (onlineResource.difficultyRating == '3' ) { %>

                                  <svg class="starRating3" xmlns="http://www.w3.org/2000/svg" width="62.526" height="16.2" viewBox="0 0 62.526 16.2">
                                    <g id="Group_36" data-name="Group 36" transform="translate(-277.474 -466)">
                                      <path id="Path_159" data-name="Path 159" d="M8.526,0l2.664,5.329,5.862.853-4.263,4.157.959,5.862L8.526,13.429,3.3,16.2l.959-5.862L0,6.182l5.862-.853Z" transform="translate(277.474 466)" fill="#2699fb"/>
                                      <path id="Path_160" data-name="Path 160" d="M8.526,0l2.664,5.329,5.862.853-4.263,4.157.959,5.862L8.526,13.429,3.3,16.2l.959-5.862L0,6.182l5.862-.853Z" transform="translate(300.211 466)" fill="#2699fb"/>
                                      <path id="Path_161" data-name="Path 161" d="M8.526,0l2.664,5.329,5.862.853-4.263,4.157.959,5.862L8.526,13.429,3.3,16.2l.959-5.862L0,6.182l5.862-.853Z" transform="translate(322.947 466)" fill="#2699fb"/>
                                    </g>
                                  </svg>

								  <% } %>

                            </h5>
                            <p class="card-text"><%= onlineResource.text %></p>
                        </div>
						</a>
                    </div>
                    </div>

                    <% }); %>

                </div>
            </div>

				

		    </div>

	</section>


	

	

	<!-- xong r nek nha -->


	</div>

<%- include("partials/footer") %>